<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book SYSTEM "amfcbook.dtd">
<book contentType="monograph" ID="{{ id }}" FAID="AMFCF0002" COLID="C00000">
	<bookInfo>
		<ocr>56.66</ocr>
    <PSMID>{{ psmid }}</PSMID>
		<assetID>WUQLKP724100933</assetID>
		<assetIDeTOC>LDWXMF531190421</assetIDeTOC>
		<dviCollectionID>AMFCC0001</dviCollectionID>
		<bibliographicID type="MARC">ocm05238011</bibliographicID>
		<reel>A-4</reel>
		<mcode>2YPR</mcode>
		<pubDate>
			<irregular>[1849]</irregular>
			<composed>[1849]</composed>
			<pubDateStart>{{ year }}0000</pubDateStart>
		</pubDate>
		<releaseDate>20160331</releaseDate>
		<sourceLibrary>
			<libraryName>Primary Source Media</libraryName>
			<libraryLocation>Meriden, CT, United States</libraryLocation>
		</sourceLibrary>
		<language ocr="English" primary="Y">English</language>
		<documentType>Monograph</documentType>
		<notes>Wright Bibliography Vol. I, 51</notes>
	</bookInfo>
	<citation>
		<authorGroup role="author">
			<author>
				<composed>McClure, David W.</composed>
				<first>David</first>
				<middle>W.</middle>
				<last>McClure</last>
				<birthDate>1810</birthDate>
				<deathDate>1867</deathDate>
			</author>
		</authorGroup>
		<titleGroup>
			<fullTitle>{{ title }}</fullTitle>
			<displayTitle>{{ title }}</displayTitle>
		</titleGroup>
		<volumeGroup>
			<currentVolume>0</currentVolume>
			<Volume>0</Volume>
			<totalVolumes>0</totalVolumes>
		</volumeGroup>
		<imprint>
			<imprintFull>Philadelphia: Peterson, [1849]</imprintFull>
			<imprintPublisher>Peterson</imprintPublisher>
		</imprint>
		<collation>1 online resource 117 pages: illustrations</collation>
		<publicationPlace>
			<publicationPlaceCity>Philadelphia</publicationPlaceCity>
			<publicationPlaceState>Pennsylvania</publicationPlaceState>
			<publicationPlaceCountry>United States</publicationPlaceCountry>
			<publicationPlaceComposed>Philadelphia</publicationPlaceComposed>
		</publicationPlace>
		<totalPages>112</totalPages>
	</citation>
	<text>

		<page type="titlePage" firstPage="yes">
			<pageInfo>
				<pageID>00010</pageID>
				<assetID>IZPNRZ642169961</assetID>
				<ocrLanguage>English</ocrLanguage>
				<ocr>42.94</ocr>
				<imageLink pageIndicator="single" width="1842" height="2992" type="jpeg" colorimage="grayscale">AMFCF0002-C00000-B0000400-00010.jpg</imageLink>
			</pageInfo>
			<pageContent>
				<p>
					<wd pos="0,0,0,0">front</wd>
					<wd pos="0,0,0,0">matter</wd>
				</p>
			</pageContent>
		</page>

		<page type="bodyPage" firstPage="yes">
			<pageInfo>
				<pageID>00050</pageID>
				<assetID>YLWWEE906356237</assetID>
				<ocrLanguage>English</ocrLanguage>
				<sourcePage>11</sourcePage>
				<ocr>57.63</ocr>
				<imageLink pageIndicator="single" width="1896" height="2981" type="jpeg" colorimage="grayscale">AMFCF0002-C00000-B0000400-00050.jpg</imageLink>
			</pageInfo>
			<pageContent>
				<p>
          {% for token in tokens %}
					<wd pos="0,0,0,0">{{ token }}</wd>
          {% endfor %}
				</p>
			</pageContent>
		</page>

	</text>
</book>
